<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="main">
        <h1>Pokedex</h1>
        <button type="button" onclick='location.href="/pokedex/new"'>Add a Pokemon</button>
        <button type="button" id="bottom">Jump to End</button>
        <ul>
            <% for(pokemon in allPokemon){ %>
                <li>
                    <%=allPokemon[pokemon].name%>
                    <a href="/pokedex/<%=pokemon%>"><img src="<%=allPokemon[pokemon].img%>" alt="<%=allPokemon[pokemon].name%>'s picture" width="90" height="90"></a>
                    <form action="/pokedex/<%=pokemon%>?_method=delete" method="post">
                    <input type="submit" value="Delete">
                    </form>
                    <button type="button" onclick="location.href='pokedex/<%=pokemon%>/edit'">Edit</button>
                </li>
           <% }%>
        </ul>
        <button type="button" id="top">Jump to Top</button>
    </div>
</body>
</html>