<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <div class="show-main">
    <button type="button" onclick="location.href='/pokedex'">Back to Pokedex</button>
    <h1><%= onePokemon.name %> </h1>
    <%= onePokemon.id%>
    <img class="show-img" src='<%= onePokemon.img%>'>
    Types: <%= onePokemon.type%> <br/>
    HP: <%= onePokemon.stats.hp%>
    </div>
</body>
</html>