<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <button type="button" onclick="location.href='/pokedex'">Back to Pokedex</button>
    <h1><%= onePokemon.name %> </h1>
    <%= onePokemon.id%>
    <img src='<%= onePokemon.img%>'>
    <%= onePokemon.type%>
    <%= onePokemon.stats.hp%>
</body>
</html>